# Carpetas a ignorar
/bin
/lib

# carpeta con archivos de prueba
/folder/*
folder/
/folder2

# Archivos a ignorar en el proyecto
*.bin
*.cfg
*.sh
*.doc
*.xls
*.mp3
*.pdf

*.pyc
*.log
*.tmp

# una ext. propia
*.marco
# ext. de archivos encriptados
*.GCF
*.aes

BCrypt.py
Clip1
testfile
testfile (copia)
RSA.txt
